Hola,
<br />
<br />
Adjunto plan de {{ month|lower }}. Confirma que todo está correctamente.
<br />
<br />
Saludos
<br />
<br />
<br />
<div style="font-weight: bold; color: #1F497D;">
    Ruymán de Armas
    <br />
    ENTRENADOR PERSONAL
    <br />
    Lcdo. en Educación Física
    <br />
    Col. Núm. 53.285
    <br />
    Tlf: 646399513
    <br />
    <a href="mailto:forward@fwdss.com">forward@fwdss.com</a>
</div>
<br />
<br />
<a href="www.fwdss.com">
    <img alt="firmaforward2" src="http://app.fwdss.com/bundles/app/images/firmaforward2.png" style="width: 396px; height:171px; padding-top: 10px;"/>
</a>
<br />
<br />
Forward busca ofrecer siempre lo mejor a los clientes y por ello te ayuda con las mejores marcas!!!
<br />
<br />
<img alt="firma email" src="http://app.fwdss.com/bundles/app/images/firmaemail.jpg" style="width: 589px; height:140px; padding-top: 10px;"/>
<br />
<br />
Este mensaje se dirige exclusivamente a su destinatario y puede contener información privilegiada o confidencial. Si no es vd. el destinatario indicado, queda notificado de que la utilización, divulgación y/o copia sin autorización está prohibida en virtud de la legislación vigente. Si ha recibido este mensaje por error, le rogamos que nos lo comunique inmediatamente por esta misma vía y proceda a su destrucción.
<br />
<br />
<hr>
<br />
This message is intended exclusively for its addressee and may contain information that is CONFIDENTIAL and protected by professional privilege. If you are not the intended recipient you are hereby notified that any dissemination, copy or disclosure of this communication is strictly prohibited by law. If this message has been received in error, please immediately notify us via e-mail and delete it.
