<h2>Mensaje de soporte de FWDSS App</h2>
<br />
<ul>
    <li>Remitente: {{email}}</li>
    <li>Asunto: {{subject}}</li>
    <li>Descripción: {{description}}</li>
    <li>Datos</li>
    <ul>
        <li>Manufacturer: {{deviceInfo.manufacturer}}</li>
        <li>Model: {{deviceInfo.model}}</li>
        <li>Platform: {{deviceInfo.platform}}</li>
        <li>UUID: {{deviceInfo.uuid}}</li>
        <li>Version: {{deviceInfo.version}}</li>
    </ul>
</ul>
<br />
<br />
