<h2>Bienvenid@ {{name}} a FORWARD 2.0.</h2>
<br />
Es exclusiva para los clientes de FORWARD y te servirá para:
<br />
<ul>
    <li>Consultar tus sesiones programadas y realizadas en el calendario</li>
    <li>Mantenerte al día con nuestros mensajes de información</li>
    <li>Recibir las notificaciones de cambios en tus sesiones</li>
    <li>Consultar tus datos</li>
</ul>
No lo dudes y descárgala eligiendo tu enlace:
<br />
<div style="display: inline-block; margin: 0 auto; width: 300px;">
    <a href="https://itunes.apple.com/us/app/forward/id1341270961?l=es&ls=1&mt=8">
        <img alt="paratuiphone" src="http://app.fwdss.com/bundles/app/images/apple_store.png" style="width: 235px; padding-top: 10px;"/>
    </a>
</div>
<div style="display: inline-block; margin: 0 auto; width: 300px;">
    <a href="https://play.google.com/store/apps/details?id=com.fwdss.app">
        <img alt="paratuandroid" src="http://app.fwdss.com/bundles/app/images/google_play.png" style="width: 235px; padding-top: 10px;"/>
    </a>
</div>
<br />
<br />
Y accede con tu usuario y contraseña:
<br />
<ul>
    <li><b>Usuario:</b> {{username}}</li>
    <li><b>Contraseña:</b> {{username}}</li>
</ul>
Si lo deseas podrás cambiar tu contraseña desde la opción del 'Perfil' de la aplicación.
<br />
<br />
Saludos
<br />
<br />
<br />
<div style="font-weight: bold; color: #1F497D;">
    Ruymán de Armas
    <br />
    ENTRENADOR PERSONAL
    <br />
    Lcdo. en Educación Física
    <br />
    Col. Núm. 53.285
    <br />
    Tlf: 646399513
    <br />
    <a href="mailto:forward@fwdss.com">forward@fwdss.com</a>
</div>
<br />
<br />
<a href="www.fwdss.com">
    <img alt="firmaforward2" src="http://app.fwdss.com/bundles/app/images/firmaforward2.png" style="width: 396px; height:171px; padding-top: 10px;"/>
</a>
<br />
<br />
Forward busca ofrecer siempre lo mejor a los clientes y por ello te ayuda con las mejores marcas!!!
<br />
<br />
<img alt="firma email" src="http://app.fwdss.com/bundles/app/images/firmaemail.jpg" style="width: 589px; height:140px; padding-top: 10px;"/>
<br />
<br />
Este mensaje se dirige exclusivamente a su destinatario y puede contener información privilegiada o confidencial. Si no es vd. el destinatario indicado, queda notificado de que la utilización, divulgación y/o copia sin autorización está prohibida en virtud de la legislación vigente. Si ha recibido este mensaje por error, le rogamos que nos lo comunique inmediatamente por esta misma vía y proceda a su destrucción.
<br />
<br />
<hr>
<br />
This message is intended exclusively for its addressee and may contain information that is CONFIDENTIAL and protected by professional privilege. If you are not the intended recipient you are hereby notified that any dissemination, copy or disclosure of this communication is strictly prohibited by law. If this message has been received in error, please immediately notify us via e-mail and delete it.
