{% extends '@EasyAdmin/default/layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block head_stylesheets %}
    {{ parent() }}
    <style>
        header.main-header,
        aside.main-sidebar {
            display: none;
        }
        .content-wrapper {
            margin-left: 0 !important;
            background: #dedfe1;
        }
        .wrapper {
            background: #dedfe1;
        }
        .fixed .content-wrapper {
            margin-left: 0;
            padding-top: 0;
        }
    </style>
{% endblock %}

{% block page_title 'Gracias por confiar en Forward' %}
{% block body_id 'welcome' %}

{% block header '' %}
{% block sidebar '' %}
{% block main %}
    <div class="login-box">
        <div class="login-logo" style="background-color: #2a3b49">
            <img src="http://app.fwdss.com/bundles/app/images/logo-blanco.png" style="height: 100px; padding-top: 10px;"/>
        </div>
        <div class="login-box-body" style="background-color: transparent;">
            <h1 style='text-align: center; color: rgba(24,36,57,1) !important; font-family: "Open Sans", Arial, sans-serif; font-size: 30px;'>Gracias por continuar confiando</h1>
        </div>
    </div>
{% endblock %}
