{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block body_javascript %}
    {{ parent() }}
{% endblock body_javascript %}

{% block content_title %}
    <h1 class="title">Cambiar Contraseña (#{{user.id}})</h1>
{% endblock %}

{% block body_id 'change-password' %}

{% block main %}
    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal" action="?action=changePassword&entity=User&id={{user.id}}" method="post">
                <input id="user_id" type="hidden" name="user[id]" value="{{user.id}}">
                <div class="form-group field-text">
                    <label class="col-sm-2 control-label required" for="user_password">Contraseña</label>
                    <div class="col-sm-10">
                        <input id="user_password" name="user[password]" required="required" class="form-control" type="password">
                    </div>
                </div>
                <div class="form-group field-text">
                    <label class="col-sm-2 control-label required" for="user_password_repeat">Repetir Contraseña</label>
                    <div class="col-sm-10">
                        <input id="user_password_repeat" name="user[password_repeat]" required="required" class="form-control" type="password">
                    </div>
                </div>
                <div class=" col-xs-offset-2 col-sm-10">
                    <button class="btn btn-primary" type="submit" name="button">Cambiar</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
