{% extends 'pdf.html.twig' %}

{% block body %}
    <div style="margin-top: 20px;">
        <div class="col-md-12">
            <div id="scheduleTableBox" class="box box-solid">
                <div class="box-header">
                    <div style="text-align: center;">
                        <h2 class="box-title">Sesiones</h2>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <table id="scheduleTable" class="table table-striped table-condensed">
                        {% for event in events %}
                            <tr class="fc-list-item">
                                <th>
                                    <span>{{ event.sessionStart|localizeddate('full', 'none', 'es') }}</span>
                                </th>
                                <td style="text-align: center;">
                                    <span>
                                        <b>Horario:</b>
                                    </span>
                                    <span>
                                        {{ event.sessionStart|date('H:i') }} - {{ event.sessionEnd|date('H:i') }}
                                    </span>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td style="text-align: right; font-weight: bold;">Total:</td>
                            <td style="text-align: center;">{{ rate|number_format(2, ',', '.') }} €</td>
                        </tr>
                        {% if observations %}
                            <tr>
                                <td style="font-weight: bold;">Observaciones:</td>
                                <td>{{ observations }}</td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
