<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <div style="background-color: #2a3b49; margin-top: 20px; text-align: center; overflow: hidden;">
            <div style="text-align: center; display: inline-block; float: left; width: 49%;">
                <img src="http://app.fwdss.com/bundles/app/images/logo-blanco.png" style="height: 100px; padding-top: 10px;"/>
            </div>
            <div style="text-align: center; display: inline-block; float: left; width: 49%; color: white; font-size: 18px;">
                <h2 style="margin: 0; padding-top: 15px; padding-bottom: 5px;">Planificación</h2>
                <div style="padding: 5px 0;">{{ iniDate|localizeddate('full', 'none', 'es', null, 'MMMM y')|capitalize }}</div>
                <div style="padding: 5px 0;">{{ customer.name }}</div>
            </div>
        </div>
    </body>
</html>
