<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <div style="background-color: #2a3b49; color: white; padding: 10px; text-align: right; width: 99%; font-size: 10px;">
            <div>Ruymán de Armas Armas</div>
            <div>ENTRENADOR PERSONAL</div>
            <div>Lcdo. en Educación Física</div>
            <div>Col. Núm. 53.285</div>
            <div>Tlf: 646399513</div>
            <div><a href="mailto:forward@fwdss.com" style="color: white;">forward@fwdss.com</a></div>
        </div>
    </body>
</html>
