{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block body_javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('bundles/adesignscalendar/js/calendar-settings.js') }}"></script>
    <script src="{{ asset('bundles/app/js/schedule.js') }}"></script>
{% endblock body_javascript %}

{% block body_id 'schedule-calendar' %}

{% block main %}
    <!-- Modal -->
    <div id="newSessionModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="modalTitle" class="modal-title">Nueva sesión</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <select id="newSessionCustomer" class="form-control select2" name="customer" data-placeholder="Selecciona al cliente">
                                {% for customer in customers %}
                                    <option value="{{ customer.id }}">{{ customer.username|e }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <br />
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input id="newSessionStartDate" type="text" class="form-control datepicker" name="start_date" placeholder="Día" />
                        </div>
                        <br />
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                            <input id="newSessionStartTime" type="text" class="form-control timepicker" name="start_time" placeholder="Horario" />
                        </div>
                        <br />
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-sort-numeric-asc"></i></span>
                            <input id="newSessionDuration" type="number" class="form-control" name="duration" value="60" />
                        </div>
                        <br />
                        <div class="input-group">
                            <label>Observaciones</label>
                            <textarea id="sessionObservation" name="observation" class="form-control"></textarea>
                        </div>
                        <br />
                        <div class="">
                            <div class="checkbox">
                                <label>
                                    <input id="newSessionNotify" type="checkbox"> Notificar por móvil
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer bg-primary">
                    <button id="scheduleAddBtn" type="button" class="btn btn-success btn-flat">Añadir</button>
                    <button id="scheduleEditBtn" type="button" class="btn btn-primary btn-flat">Actualizar</button>
                    <button id="scheduleDeleteBtn" type="button" class="btn btn-info btn-flat">
                        <span class="fa fa-trash-o"></span>
                        &nbsp;Borrar
                    </button>
                    <button id="scheduleCloseBtn" type="button" class="btn btn-danger btn-flat" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="action-group">
                <a id="scheduleGenerateBtn" href="#" class="btn btn-sm btn-primary" title="Generar sesiones del mes">
                    <span class="fa fa-refresh"></span>
                    &nbsp;Generar
                </a>
                <a id="scheduleSendBtn" href="#" class="btn btn-sm btn-info" title="Planificar sesiones del mes">
                    <span class="fa fa-list"></span>
                    &nbsp;Planificar
                </a>
                <a id="scheduleCleanBtn" href="#" class="btn btn-sm btn-danger" title="Borrar sesiones del mes">
                    <span class="fa fa-trash-o"></span>
                    &nbsp;Limpiar
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">
                    <select id="customFilter" class="form-control filter-custom">
                        <option value="">Tod@s</option>
                        {% for customer in customers %}
                        <option value="{{ customer.id }}">{{ customer.username }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-6">
                    <div id="customerInfo" class="hide" style="padding: 6px 0;">
                        <span><strong>Sesiones Mes</strong></span>: <span id="customerNumSessions"></span>
                        <span><strong>Tarifa</strong></span>: <span id="customerRate"></span>€
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div id="scheduleCalendarAlert" class="alert alert-danger alert-dismissible">
                <div class="row">
                    <div class="col-md-3">
                        <h4><i class="icon fa fa-ban"></i> Ojo!</h4>
                    </div>
                    <div id="scheduleCalendarAlertMsg" class="col-md-9"></div>
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <a id="scheduleNewBtn" href="#" class="btn btn-sm btn-block btn-success" data-toggle="modal" data-target="#newSessionModal" title="Generar sesión">
                <span class="fa fa-plus"></span>
                &nbsp;Crear
            </a>
        </div>
    </div>
    <div class="row">
        <div class="clearfix">&nbsp;</div>
        <div class="col-md-12">
            <div id="scheduleCalendarBox" class="box box-primary">
                <div class="box-body no-padding">
                    <div id="scheduleCalendar"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
