{% extends '@EasyAdmin/default/layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block head_stylesheets %}
    {{ parent() }}
    <style>
        header.main-header,
        aside.main-sidebar {
            display: none;
        }
        .wrapper {
            background: #F5F5F5;
        }
        .fixed .content-wrapper {
            margin-left: 0;
            padding-top: 0;
        }
    </style>
{% endblock %}

{% block page_title 'Welcome to the FWDSS Schedule' %}
{% block body_id 'welcome' %}

{% block header '' %}
{% block sidebar '' %}
{% block main %}
    <div class="login-box">
        <div class="login-logo">
            <b>FWDSS</b> Schedule
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">Sign in to start your session</p>
            <form action="{{ path("fos_user_security_check") }}" method="post">
                {% if error %}
                    <div class="has-error">
                        <p class="error-block">
                            <span class="label label-danger">
                                {{ 'errors'|transchoice(1, domain = 'EasyAdminBundle') }}
                            </span>
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </p>
                    </div>
                {% endif %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <div class="form-group has-feedback">
                    <input class="form-control" type="text" id="username" name="_username" value="" required="required" placeholder="{{ 'security.login.username'|trans }}" />
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input class="form-control" type="password" id="password" name="_password" value="" required="required" placeholder="{{ 'security.login.password'|trans }}" />
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                    </div>
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-flat" id="_submit" name="_submit">{{ 'security.login.submit'|trans }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
