/* Page schedule-calendar */
body#schedule-calendar .content-header{
    display: none;
}
#scheduleCalendarBox .box-body {
    height: 770px;
}
.box-body .fc {
    margin-top: 0;
}
.field-timetable > .control-label {
    display: none;
}
.field-timetable > .col-sm-10 {
    width: 100%;
}
.field-timetable > .col-sm-10 .form-group.field-text {
    float: left;
    width: 25%;
}
.field-timetable > .col-sm-10 > div .field-text:first-child {
    width: 50%;
}
.field-timetable > .col-sm-10 .form-group.field-text .timepicker {
    text-align: center;
    width: 77px;
}
.field-timetable > .col-sm-10 .field-collection-item-action {
    float: right;
    width: 25%;
}
.btn-info {
    color: #fff !important;
    background-color: #5bc0de !important;
    border-color: #46b8da !important;
}
.btn-warning {
    color: #fff !important;
    background-color: #f0ad4e !important;
    border-color: #eea236 !important;
}
.select2-container--default .select2-selection--single {
    border-radius: 0;
}
.has-error .select2-container--default .select2-selection--single {
    border-color: #a94442;
}
#scheduleCalendarAlert {
    display: none;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 5px;
}
#scheduleCalendarAlert h4 {
    margin-bottom: 0;
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    .action-group {
        display: none;
    }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .action-group {
        display: none;
    }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
    .action-group {
        display: none;
    }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
    .action-group {
        display: none;
    }
}
