{% extends '@EasyAdmin/default/list.html.twig' %}

{% block body_javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/diary.js') }}"></script>
{% endblock body_javascript %}

{% block search_action %}
    <!-- Modal -->
    <div id="sendDiaryModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Enviar</h4>
                </div>
                <div class="modal-body">
                    <p><strong>Selecciona el mes y año que quieres enviar</strong></p>
                    <div>
                        <label for="selectedMont">Mes</label>
                        <div class="input-group">
                            <span class="input-group-addon"><span>M</span></span>
                            <select id="selectedMonth" type="text" class="form-control select2" name="month" placeholder="Mes">
                                <option value=""></option>
                                <option value="1">Enero</option>
                                <option value="2">Febrero</option>
                                <option value="3">Marzo</option>
                                <option value="4">Abril</option>
                                <option value="5">Mayo</option>
                                <option value="6">Junio</option>
                                <option value="7">Julio</option>
                                <option value="8">Agosto</option>
                                <option value="9">Septiembre</option>
                                <option value="10">Octubre</option>
                                <option value="11">Noviembre</option>
                                <option value="12">Diciembre</option>
                            </select>
                        </div>
                        <br />
                        <label for="selectedYear">Año</label>
                        <div class="input-group">
                            <span class="input-group-addon"><span>A</span></span>
                            {% set thisYear = "now"|date("Y") %}
                            {% set forYearEnd = thisYear + 3 %}
                            <select id="selectedYear" type="text" class="form-control select2" name="year" placeholder="Año">
                                <option value=""></option>
                                {% for i in thisYear..forYearEnd %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer bg-primary">
                    <button id="diarySendBtn" type="button" class="btn btn-success btn-flat">Enviar</button>
                    <button type="button" class="btn btn-danger btn-flat" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="form-action {{ _action.css_class|default('') }}">
        <form method="get" action="{{ path('easyadmin') }}">
            <input type="hidden" name="action" value="search">
            <input type="hidden" name="entity" value="{{ _request_parameters.entity }}">
            <input type="hidden" name="sortField" value="{{ _request_parameters.sortField }}">
            <input type="hidden" name="sortDirection" value="{{ _request_parameters.sortDirection }}">
            <input type="hidden" name="menuIndex" value="{{ _request_parameters.menuIndex }}">
            <input type="hidden" name="submenuIndex" value="{{ _request_parameters.submenuIndex }}">
            <div class="input-group">
                <select type="search" class="form-control" placeholder="Mes" name="month" style="width: 15%;">
                    <option value=""></option>
                    <option value="1" {{ (app.request.get('month') == 1) ? 'selected' : '' }}>Enero</option>
                    <option value="2" {{ (app.request.get('month') == 2) ? 'selected' : '' }}>Febrero</option>
                    <option value="3" {{ (app.request.get('month') == 3) ? 'selected' : '' }}>Marzo</option>
                    <option value="4" {{ (app.request.get('month') == 4) ? 'selected' : '' }}>Abril</option>
                    <option value="5" {{ (app.request.get('month') == 5) ? 'selected' : '' }}>Mayo</option>
                    <option value="6" {{ (app.request.get('month') == 6) ? 'selected' : '' }}>Junio</option>
                    <option value="7" {{ (app.request.get('month') == 7) ? 'selected' : '' }}>Julio</option>
                    <option value="8" {{ (app.request.get('month') == 8) ? 'selected' : '' }}>Agosto</option>
                    <option value="9" {{ (app.request.get('month') == 9) ? 'selected' : '' }}>Septiembre</option>
                    <option value="10" {{ (app.request.get('month') == 10) ? 'selected' : '' }}>Octubre</option>
                    <option value="11" {{ (app.request.get('month') == 11) ? 'selected' : '' }}>Noviembre</option>
                    <option value="12" {{ (app.request.get('month') == 12) ? 'selected' : '' }}>Diciembre</option>
                </select>
                <select type="search" class="form-control" placeholder="Año" name="year" value="{{ app.request.get('year')|default('') }}" style="width: 10%;">
                    <option value=""></option>
                    <option value="2017" {{ (app.request.get('year') == 2017) ? 'selected' : '' }}>2017</option>
                    <option value="2018" {{ (app.request.get('year') == 2018) ? 'selected' : '' }}>2018</option>
                    <option value="2019" {{ (app.request.get('year') == 2019) ? 'selected' : '' }}>2019</option>
                    <option value="2020" {{ (app.request.get('year') == 2020) ? 'selected' : '' }}>2020</option>
                    <option value="2021" {{ (app.request.get('year') == 2021) ? 'selected' : '' }}>2021</option>
                    <option value="2022" {{ (app.request.get('year') == 2022) ? 'selected' : '' }}>2022</option>
                    <option value="2023" {{ (app.request.get('year') == 2023) ? 'selected' : '' }}>2023</option>
                    <option value="2024" {{ (app.request.get('year') == 2024) ? 'selected' : '' }}>2024</option>
                    <option value="2025" {{ (app.request.get('year') == 2025) ? 'selected' : '' }}>2025</option>
                    <option value="2026" {{ (app.request.get('year') == 2026) ? 'selected' : '' }}>2026</option>
                    <option value="2027" {{ (app.request.get('year') == 2027) ? 'selected' : '' }}>2027</option>
                </select>
                <input class="form-control" type="search" name="query" value="{{ app.request.get('query')|default('') }}" style="width: 75%;">
                <span class="input-group-btn">
                    <button class="btn" type="submit" formtarget="{{ _action.target }}">
                        <i class="fa fa-search"></i>
                        <span class="hidden-xs hidden-sm">{{ _action.label|default('action.search')|trans(_trans_parameters) }}</span>
                    </button>
                </span>
            </div>
        </form>
    </div>
    <div class="button-action">
        <a class="btn btn-success" href="#" data-toggle="modal" data-target="#sendDiaryModal">
            <i class="fa fa-share-square-o"></i>
            Enviar Mes
        </a>
    </div>
{% endblock %}
