{% set _entity_config = easyadmin_entity(app.request.query.get('entity')) %}
{# the empty string concatenation is needed when the primary key is an object (e.g. an Uuid object) #}
{% set _entity_id = '' ~ attribute(entity, _entity_config.primary_key_field_name) %}
{% trans_default_domain _entity_config.translation_domain %}
{% set _trans_parameters = { '%entity_name%': _entity_config.name|trans, '%entity_label%': _entity_config.label|trans, '%entity_id%': _entity_id } %}

{% extends _entity_config.templates.layout %}

{% block body_id 'easyadmin-show-' ~ _entity_config.name ~ '-' ~ _entity_id %}
{% block body_class 'show show-' ~ _entity_config.name|lower %}

{% block content_title %}
{% spaceless %}
    {% set _default_title = 'show.page_title'|trans(_trans_parameters, 'EasyAdminBundle') %}
    {{ _entity_config.show.title is defined ? _entity_config.show.title|trans(_trans_parameters) : _default_title }}
{% endspaceless %}
{% endblock %}

{% block main %}
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#tab_1" data-toggle="tab">Información</a>
            </li>
            <li>
                <a href="#tab_2" data-toggle="tab">PDF</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                <div class="form-horizontal">
                    {% for field, metadata in fields %}
                        <div class="form-group field-{{ metadata.type|default('default')|lower }} {{ metadata.css_class|default('') }}">
                            <label class="col-sm-2 control-label">
                                {{ (metadata.label ?: field|humanize)|trans(_trans_parameters)|raw }}
                            </label>
                            <div class="col-sm-10">
                                <div class="form-control">
                                    {{ easyadmin_render_field_for_show_view(_entity_config.name, entity, metadata) }}
                                </div>

                                {% if metadata.help|default('') != '' %}
                                    <span class="help-block"><i class="fa fa-info-circle"></i> {{ metadata.help|trans|raw }}</span>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}

                    <div class="form-group form-actions">
                        <div class="col-sm-10 col-sm-offset-2">
                        {% block item_actions %}
                            {% set _show_actions = easyadmin_get_actions_for_show_item(_entity_config.name) %}
                            {% set _request_parameters = { entity: _entity_config.name, referer: app.request.query.get('referer') } %}

                            {{ include('@EasyAdmin/default/includes/_actions.html.twig', {
                                actions: _show_actions,
                                request_parameters: _request_parameters,
                                translation_domain: _entity_config.translation_domain,
                                trans_parameters: _trans_parameters,
                                item_id: _entity_id
                            }, with_context = false) }}
                            {% set action_send = 'send' %}
                            <a href="{{ path('easyadmin', _request_parameters|merge({ action: action_send, id: _entity_id })) }}" class="btn btn-info" title="Enviar">
                                <span class="fa fa-share-square-o"></span>
                                &nbsp;Enviar
                            </a>
                        {% endblock item_actions %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab_2">
                <table id="scheduleTable" class="table table-striped table-condensed">
                    {% for event in events %}
                        <tr class="fc-list-item">
                            <th>
                                <span>{{ event.sessionStart|localizeddate('full', 'none', 'es') }}</span>
                            </th>
                            <td style="text-align: center;">
                                <span>
                                    <b>Horario:</b>
                                </span>
                                <span>
                                    {{ event.sessionStart|date('H:i') }} - {{ event.sessionEnd|date('H:i') }}
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td style="text-align: right; font-weight: bold;">Total:</td>
                        <td style="text-align: center;">{{ entity.rate|number_format(2, ',', '.') }} €</td>
                    </tr>
                    {% if entity.observations %}
                        <tr>
                            <td style="font-weight: bold;">Observaciones:</td>
                            <td>{{ entity.observations }}</td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>

    {% block delete_form %}
        {{ include('@EasyAdmin/default/includes/_delete_form.html.twig', {
            view: 'show',
            referer: app.request.query.get('referer', ''),
            delete_form: delete_form,
            _translation_domain: _entity_config.translation_domain,
            _trans_parameters: _trans_parameters,
            _entity_config: _entity_config,
        }, with_context = false) }}
    {% endblock delete_form %}
{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script type="text/javascript">
        $(function() {
            $('a.action-delete').on('click', function(e) {
                e.preventDefault();

                $('#modal-delete').modal({ backdrop: true, keyboard: true })
                    .off('click', '#modal-delete-button')
                    .on('click', '#modal-delete-button', function () {
                        $('#delete-form').trigger('submit');
                    });
            });
        });
    </script>
{% endblock %}
